<h2>blog </h2>

<div class="container">
    <div class="row">
        <sol-article [autor]="'Pepe'" [titulo]="'Angular 8'">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur nulla hic nemo quis facere, cum natus! Incidunt iste maiores nobis ullam beatae asperiores ducimus. Voluptatibus eligendi incidunt quidem iusto voluptatem?</p>
            <p>Nobis placeat ut sunt eaque, nulla, nemo accusamus eveniet excepturi impedit alias tempore voluptatibus amet magni hic. Consequuntur ipsam, nemo et recusandae quidem, omnis, voluptatibus deleniti eligendi asperiores id autem.</p>
            <p>Corporis ut velit, nesciunt doloremque quos dolore a debitis voluptates dignissimos inventore nobis cum. Commodi eligendi sunt labore, dolores rem corporis reiciendis accusamus ipsa exercitationem iusto, voluptate laudantium eum quaerat!</p>
            <p>Aspernatur esse deleniti veritatis unde animi incidunt! Ipsum, enim laudantium dignissimos necessitatibus animi eos delectus eligendi itaque porro dolore! Autem eveniet asperiores illum enim at aliquam in quam modi ut.</p>
            <p>Dolore impedit iste fugiat, cupiditate id aliquam quaerat obcaecati fuga, dicta rem, tenetur omnis dolores quam illum? Consectetur officia voluptatibus, eum minus minima totam at atque facere nesciunt nam aliquid!</p>
            <p>Alias, aliquid quaerat laboriosam unde odio distinctio esse velit veniam aspernatur. Hic sit modi corrupti earum ad nisi recusandae, minus adipisci optio, omnis et! Culpa nostrum ipsum omnis sed facilis.</p>
        </sol-article>            
    </div>
</div>

